body {
  position: relative;
  margin: 70px 0 0;
  padding: 0px;
  font-size: 16px;
  font-family: 'Gilroy-Light', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
  background-color: #FFF;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #4973A6;
  z-index: 10;
}
header .logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 170px;
  max-height: 45px;
  background-image: url('../img/logoFlashSafe.svg');
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999999px;
}
header .menu {
  position: relative;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header .menu a {
  color: #FFF;
  text-decoration: none;
  padding: 5px;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
  font-family: 'Gilroy-Light';
  font-weight: 200;
}
header .menu a:hover {
  transition: 0.5s;
  border-bottom: 2px solid #FFF;
}
header .menu-mobile {
  display: none;
  text-align: right;
  width: 100%;
}
header .menu-mobile button i {
  font-size: 2em;
  color: #FFF;
}
header .menu-mobile button:focus {
  box-shadow: none;
}
footer * {
  color: #FFF;
}
footer section.menu {
  position: relative;
  display: block;
  padding: 50px 0;
  background-color: #335174;
}
footer section.menu .logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 170px;
  max-height: 45px;
  background-image: url('../img/logoFlashSafe.svg');
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999999px;
  margin: 20px 5px;
}
footer section.menu .links strong {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px;
  font-family: 'Gilroy-Bold';
  /* font-size: .9em; */
}
footer section.menu .links a {
  position: relative; 
  display: block;
  padding: 5px;
  font-size: .9em;
  text-decoration: none;
  transition: 0.5s;
}
footer section.menu .links a:hover {
  color: #FFF;
  opacity: 0.5;
  transition: 0.5s;
}
footer section.menu .social {
  text-align: right;
}
footer section.menu .social a {
  position: relative;
  display: inline-block;
  margin: 20px 5px 0px;
  vertical-align: bottom;
  text-decoration: none;
  transition: 0.5s;
}
footer section.menu .social a:hover {
  opacity: 0.5;
  transition: 0.5s;
}
footer section.frase {
  position: relative;
  display: block;
  background-color: #4973A6;
  background-color: #809DC1;
  padding: 10px;
}
footer section.frase * {
  font-size: 0.925em;
  color: #FFF;
  text-decoration: none;
}
footer section.copy {
  position: relative;
  display: block;
  padding: 20px 10px;
  background-color: #4973A6;
  color: #FFF;
  font-size: 0.85em;
}
footer section.copy button {
  position: relative;
  padding: 5px 20px;
  border: 1px solid #FFF;
  border-radius: 8px;
  background-color: transparent;
}
@media (max-width: 991px) {
  header .menu {
    display: none;
  }
  header .menu.active {
    position: absolute;
    display: block;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: rgba(73,115,166, 0.9);
  }
  header .menu.active a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 10%;
    font-size: 1.5em;
    border-bottom: 2px solid rgba(255,255,255,0.5);
  }
  header .menu.active a:hover {
    color: #D98F2A;
  }
  header .menu-mobile {
    display: block;
  }
}
@media (max-width: 575px) {
  header > .topo > .row > div:first-child {
    width: 70%;
  }
  header > .topo > .row > div:last-child {
    width: 30%;
  }
  footer section.menu .links strong {
    font-size: 1.2em;
  }
  footer section.menu .links a {
    font-size: 1em;
  }
  footer section.frase * {
    font-size: 1em;
  }
}
